/* grid css 

diseño bidimensional. Que significa quepodemos organizar
elementos tanto en filas como en columnas.
Es ideal cuando necesitamos una estructura de diseño más compleja.

display: grid. Active el diseño en cuadrícula.
grid-template-columns. Definir las columnas del grid.
grid-template-rows. Definirá las filas del grid.
grid-gap. Definir el espacio entre las celdas de la cuadrícula.


*/

.alumnasGrupo58 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100vh;
    background-color: lightcoral;
}

.alumna {
    background-color: lightgray;
    color: #000;
    text-align: center;
    line-height: 100px;
    height: 100px;
}